<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="connectorApp Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\connectorenv\connectorenv\Scripts\python.exe|C:\connectorenv\connectorenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
